NODE_ENV=development
PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=finance_api
DB_USER=postgres
DB_PASSWORD=admin
DB_SSL=false
MAIL_ENABLED=false
MAIL_HOST=smtp.seudominio.com
MAIL_PORT=587
MAIL_USER=usuario@seudominio.com
MAIL_PASSWORD=senha-do-email
MAIL_FROM=usuario@seudominio.com
MAIL_TO=destinatario@seudominio.com
MAIL_SECURE=false
